{% block shtumi_select2_entity_widget %}

    <script>
        jQuery(function() {
            jQuery("#{{ form.vars.id }}").select2({
                minimumInputLength: 0,
                ajax: {
                    url: '{{ path('shtumi_select2_entity') }}',
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            entity_alias: "{{ entity_alias }}",
                            term: term,
                            maxRows: 20,
                            page: page
                        };
                    },
                    results: function (data, page) {
                        return {results: data};
                    }
                }
            });
            jQuery("#{{ form.vars.id }}").select2('data', {{ value|raw }});
        });
    </script>

    {{ form_widget(form) }}

{% endblock %}

{% block shtumi_ajax_autocomplete_widget %}

    <script type="text/javascript">
        if (typeof jQuery.ui == 'undefined'){
            jQuery.getScript('{{ asset('/bundles/shtumiuseful/js/jqueryui/jquery-ui-1.10.1.custom.min.js') }}');
        }

    </script>

    <script>
        jQuery(function() {
            jQuery("body").bind("DOMSubtreeModified", function() {
                jQuery( "#{{ form.vars.id }}"  ).autocomplete({
                    source: function( request, response ) {
                        jQuery.ajax({
                            url: "{{ path('shtumi_ajaxautocomplete') }}",
                            dataType: "json",
                            data: {
                                maxRows: 12,
                                letters: request.term,
                                entity_alias: "{{ entity_alias }}"
                            },
                            success: function( data ) {
                                response( jQuery.map( data, function( item ) {
                                    return {
                                        label: item,
                                        value: item
                                    }
                                }));
                            }
                        });
                    },
                    minLength: 2,
                    open: function() {
                        jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                    },
                    close: function() {
                        jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                    }
                });
            });

        });
    </script>

    <style>
        .ui-autocomplete {
            max-height: 100px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
        }
        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
        * html .ui-autocomplete {
            height: 100px;
        }
    </style>


    {{ form_widget(form) }}

{% endblock %}


{% block shtumi_dependent_filtered_entity_widget %}

    <select {{ block('widget_attributes') }}></select>

    <img src='{{ asset('bundles/shtumiuseful/images/ajax-loader.gif' ) }}' id='loader' style='display: none;'>
    <script type="text/javascript">
        jQuery(function(){
            jQuery("#{{ form.parent.offsetGet( parent_field ).vars.id }}").change( function() {
                var selected_index = {{ value ? value|json_encode|raw : 0 }};
                jQuery("#loader").show();
                jQuery.ajax({
                    type: "POST",
                    data: {
                        parent_id: jQuery(this).val(),
                        entity_alias: "{{ entity_alias }}",
                        empty_value: "{{ empty_value }}"
                    },
                    url:"{{ path('shtumi_dependent_filtered_entity') }}",
                    success: function(msg){
                        if (msg != ''){
                            jQuery("select#{{ form.vars.id }}").html(msg).show();
                            jQuery.each(jQuery("select#{{ form.vars.id }} option"), function (index, option){
                                if (jQuery(option).val() == selected_index)
                                    jQuery(option).prop('selected', true);
                            })
                            jQuery("select#{{ form.vars.id }}").trigger('change');
                            jQuery("#loader").hide();
                        } else {
                            jQuery("select#{{ form.vars.id }}").html('<em>{{ no_result_msg|trans() }}</em>');
                            jQuery("#loader").hide();
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError){
                    jQuery('html').html(xhr.responseText);
                    }
                });
            });

            jQuery("#{{ form.parent.offsetGet( parent_field ).vars.id }}").trigger('change');
        });
    </script>

{% endblock %}

{% block shtumi_dependent_filtered_select2_widget %}

    <select {{ block('widget_attributes') }} ></select>

    <script type="text/javascript">
        jQuery(function(){
            // Wait for Select2 to be available (especially important in modals)
            function initSelect2() {
                if (typeof jQuery.fn.select2 === 'undefined') {
                    setTimeout(initSelect2, 100);
                    return;
                }
                
                {% if parent_field_view is defined and parent_field_view is not null %}
                    {% set parent_form = parent_field_view %}
                {% else %}
                    {% set parent_form = form.parent.offsetGet( parent_field ) %}
                {% endif %}

                var parent_id = "{{ parent_form.vars.id }}";
                var parent = null;

                if(jQuery('#'+parent_id).length){
                    parent = jQuery('#'+parent_id);
                }else if(jQuery('#'+parent_id+'_autocomplete_input').length){
                    parent = jQuery('#'+parent_id+'_autocomplete_input');
                }

                {% if multiple %}
                    jQuery("#{{ form.vars.id }}").attr('name', jQuery("#{{ form.vars.id }}").attr('name') + '[]');
                {% endif %}

                jQuery("#{{ form.vars.id }}").select2({
                    placeholder: "{{ empty_value }}",
                    minimumInputLength: 0,
                    ajax: {
                        url: '{{ path('shtumi_dependent_filtered_select2') }}',
                        dataType: 'json',
                        data: function (term, page) {
                            return {
                                term: term,
                                parent_id: parent.val(),
                                entity_alias: "{{ entity_alias }}"
                            };
                        },
                        processResults: function(data, page) {
                            return { results: data };
                        },
                    },
                    multiple: '{{ multiple }}'
                });


                var data = {{ value|raw }};

                if(Array.isArray(data)) {
                    $.each(data, function (k,el) {
                        var newOption = new Option(el.text, el.id, true, true);
                        jQuery("#{{ form.vars.id }}").append(newOption).trigger('change');
                    });
                } else if(typeof data.id !== 'undefined'){
                    var newOption = new Option(data.text, data.id, true, true);
                    jQuery("#{{ form.vars.id }}").append(newOption).trigger('change');
                }

                if (parent && parent.length) {
                    parent.change(function(){
                        jQuery("#{{ form.vars.id }}").select2('data', null);
                    });
                }
            }
            
            initSelect2();
        });
    </script>

{% endblock %}

{% block shtumi_dependent_filtered_value_widget %}

    {{ form_widget(form, { 'attr': attr|merge({
        'data-max-value': form.vars.attr['data-max-value']|default(''),
        'data-preserve-value': form.vars.attr['data-preserve-value']|default('true')
    }) }) }}

    <script type="text/javascript">
        jQuery(function(){
            {% if parent_field_view is defined and parent_field_view is not null %}
            {% set parent_form = parent_field_view %}
            {% else %}
            {% set parent_form = form.parent.offsetGet( parent_field ) %}
            {% endif %}

            var parent_id = "{{ parent_form.vars.id }}";
            var value_field_id = "{{ form.vars.id }}";
            var parent = null;
            var valueField = jQuery('#' + value_field_id);
            var initialValue = valueField.val();
            var hasInitialValue = initialValue !== '' && initialValue !== null && initialValue !== undefined && parseFloat(initialValue) > 0;
            var preserveValue = valueField.data('preserve-value') !== false && valueField.data('preserve-value') !== 'false';
            var initialParentValue = null;
            var isInitialized = false;

            // Function to find and initialize parent field
            function initParentField() {
                // Find parent field - could be a regular select, Select2, or autocomplete
                if(jQuery('#'+parent_id).length){
                    parent = jQuery('#'+parent_id);
                }else if(jQuery('#'+parent_id+'_autocomplete_input').length){
                    parent = jQuery('#'+parent_id+'_autocomplete_input');
                }

                if (!parent || !parent.length) {
                    // Parent not found yet, try again after a short delay
                    setTimeout(initParentField, 100);
                    return;
                }

                // Function to fetch and update the value
                function updateValue(forceUpdate) {
                    var parentValue = parent.val();
                    var currentValue = jQuery('#' + value_field_id).val();

                    // If this is just initialization and we have a saved value, don't overwrite
                    if (!isInitialized && hasInitialValue && preserveValue) {
                        isInitialized = true;
                        initialParentValue = parentValue;
                        return;
                    }

                    // If parent value hasn't changed from initial, don't update
                    if (!forceUpdate && initialParentValue !== null && parentValue === initialParentValue && hasInitialValue) {
                        return;
                    }

                    // If preserve mode is on and field has a value and not forced, don't overwrite
                    if (preserveValue && !forceUpdate && currentValue !== '' && currentValue !== null && parseFloat(currentValue) > 0) {
                        return;
                    }

                    if (!parentValue || parentValue === '') {
                        if (!preserveValue || !currentValue) {
                            jQuery('#' + value_field_id).val('');
                        }
                        return;
                    }

                    jQuery.ajax({
                        type: "POST",
                        url: "{{ path('shtumi_dependent_filtered_value') }}",
                        data: {
                            parent_id: parentValue,
                            entity_alias: "{{ entity_alias }}"
                        },
                        dataType: 'json',
                        success: function(response) {
                            if (response && response.value !== null && response.value !== undefined) {
                                var newValue = parseFloat(response.value);
                                var maxValue = valueField.data('max-value');

                                // Apply max value constraint if set
                                if (maxValue !== '' && maxValue !== undefined && maxValue !== null) {
                                    maxValue = parseFloat(maxValue);
                                    if (!isNaN(maxValue) && !isNaN(newValue) && newValue > maxValue) {
                                        newValue = maxValue;
                                    }
                                }

                                jQuery('#' + value_field_id).val(newValue);
                            } else {
                                jQuery('#' + value_field_id).val('');
                            }
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            console.error('Error fetching dependent filtered value:', thrownError);
                            jQuery('#' + value_field_id).val('');
                        }
                    });
                }

                // Function to validate max value on blur/change
                function validateMaxValue() {
                    var currentValue = parseFloat(jQuery('#' + value_field_id).val());
                    var maxValue = valueField.data('max-value');

                    if (maxValue !== '' && maxValue !== undefined && maxValue !== null) {
                        maxValue = parseFloat(maxValue);
                        if (!isNaN(maxValue) && !isNaN(currentValue) && currentValue > maxValue) {
                            jQuery('#' + value_field_id).val(maxValue);
                        }
                    }
                }

                // Add blur event to validate max value when user edits manually
                jQuery('#' + value_field_id).on('blur change', validateMaxValue);

                // Wait a bit for Select2 to initialize if it's a Select2 field
                setTimeout(function() {
                    // Store the initial parent value before any changes
                    initialParentValue = parent.val();

                    // Check if parent is a Select2 field
                    var isSelect2 = parent.hasClass('select2-hidden-accessible') ||
                        (typeof jQuery.fn.select2 !== 'undefined' && parent.data('select2'));

                    if (isSelect2) {
                        // Parent is Select2 - listen to Select2 change events
                        // Use select2:select for actual user selections (not initialization)
                        parent.on('select2:select', function(e) {
                            // Only update if this is a real user selection (not same as initial)
                            if (parent.val() !== initialParentValue) {
                                updateValue(true);
                                initialParentValue = parent.val(); // Update initial value
                            }
                        });
                        parent.on('select2:clear', function() {
                            jQuery('#' + value_field_id).val('');
                            initialParentValue = null;
                        });
                    } else {
                        // Parent is a regular select or input - listen to change event
                        parent.on('change.dependent-value-user', function() {
                            if (parent.val() !== initialParentValue) {
                                updateValue(true);
                                initialParentValue = parent.val();
                            }
                        });
                    }

                    // Mark as initialized and only trigger initial update if field is empty
                    isInitialized = true;
                    if (parent.val() && !hasInitialValue) {
                        updateValue(false);
                    }
                }, 300);
            }

            // Start initialization
            initParentField();
        });
    </script>

{% endblock %}


{% block shtumi_daterange_widget %}

    <style type="text/css">@import "{{ asset('bundles/shtumiuseful/js/datepicker/jquery.datepick.css') }}";</style>
    <style type="text/css">@import "{{ asset('bundles/shtumiuseful/css/daterange.css') }}";</style>
    <script type="text/javascript" src="{{ asset('bundles/shtumiuseful/js/datepicker/jquery.datepick.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/shtumiuseful/js/datepicker/jquery.datepick-' ~ locale[0:2] ~ '.js') }}"></script>

    <input {{ block('widget_attributes') }} value="{{ value }}" class="text-center form-control">

    <script>
        jQuery('input#{{ form.vars.id }}').datepick({
            rangeSelect: true, monthsToShow: 2, showTrigger: '#calImg', dateFormat: '{{ datepicker_date_format }}' });
    </script>

    <div style="display: none;">
        <img id="calImg" src="{{ asset('bundles/shtumiuseful/js/datepicker/calendar-green.gif') }}" alt="Popup" class="trigger" height='22' align='absmiddle' style='margin-left: 10px;'>
    </div>

{% endblock %}


{% block shtumi_ajaxfile_widget %}

    <style type="text/css">@import "{{ asset('bundles/shtumiuseful/css/jquery-file-upload/jquery.fileupload.css') }}";</style>

    <script type="text/javascript" src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
    <script type="text/javascript" src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/shtumiuseful/js/jquery-file-upload/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/shtumiuseful/js/jquery-file-upload/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/shtumiuseful/js/jquery-file-upload/jquery.fileupload-process.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/shtumiuseful/js/jquery-file-upload/jquery.fileupload-audio.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/shtumiuseful/js/jquery-file-upload/jquery.fileupload-video.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/shtumiuseful/js/jquery-file-upload/jquery.fileupload-validate.js') }}"></script>


    <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add files...</span>
        <!-- The file input field used as target for the file upload widget -->
        {% set uploader_id = id ~ '_uploader'  %}
        <input id="{{ uploader_id }}" name="{{ name }}" type="file" multiple>

        <input {{ block('widget_attributes') }} type="hidden">

    </span>


    <div class="progress-bar progress-bar-success"></div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>

    <script>
        (function(){
            'use strict';
            
            // Wait for jQuery and fileupload plugin
            function waitForDeps(callback) {
                var attempts = 0;
                function check() {
                    attempts++;
                    if (typeof jQuery !== 'undefined' && typeof jQuery.fn !== 'undefined' && typeof jQuery.fn.fileupload !== 'undefined') {
                        callback();
                    } else if (attempts < 100) {
                        setTimeout(check, 100);
                    } else {
                        console.error('jQuery File Upload plugin not available for shtumi_ajaxfile_widget');
                    }
                }
                check();
            }
            
            waitForDeps(function() {
                var files_list = [];

                jQuery('#{{ uploader_id }}')
                    .fileupload({
                    url: '{{ path('shtumi_ajaxfileupload') }}',
                    dataType: 'json',
                    autoUpload: true,
                    maxFileSize: 50000000000, // 5 MB
                    // Enable image resizing, except for Android and Opera,
                    // which actually support image resizing, but fail to
                    // send Blob objects via XHR requests:
                    disableImageResize: false,// /Android(?!.*Chrome)|Opera/
                            //.test(window.navigator.userAgent),
                    previewMaxWidth: 100,
                    previewMaxHeight: 100,
                    previewCrop: true
                })
                .on('fileuploadadd', function (e, data) {
                    data.context = jQuery('<div/>').appendTo('#files');
                    jQuery.each(data.files, function (index, file) {
                        var node = jQuery('<p/>')
                            .append(jQuery('<span/>').text(file.name));

                        node.appendTo(data.context);
                    });
                })
                .on('fileuploadprocessalways', function (e, data) {
                    var index = data.index,
                        file = data.files[index],
                        node = jQuery(data.context.children()[index]);
                    if (file.preview) {
                        node
                            .prepend('<br>')
                            .prepend(file.preview);
                    }
                    if (file.error) {
                        node
                            .append('<br>')
                            .append(jQuery('<span class="text-danger"/>').text(file.error));
                    }
                })
                .on('fileuploadprogressall', function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    jQuery('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                })
                .on('fileuploaddone', function (e, data) {
                    jQuery.each(data.result.files, function (index, file) {
                        alert(123);
                        if (file.url) {
                            var link = jQuery('<a>')
                                .attr('target', '_blank')
                                .prop('href', file.url);
                            jQuery(data.context.children()[index])
                                .wrap(link);

                            files_list.push(file.path);
                            jQuery('#{{ id }}').val(JSON.stringify(files_list));
                        } else if (file.error) {
                            var error = jQuery('<span class="text-danger"/>').text(file.error);
                            jQuery(data.context.children()[index])
                                    .append('<br>')
                                    .append(error);
                        }
                    });
                })
                .on('fileuploadfail', function (e, data) {
                    jQuery.each(data.files, function (index, file) {
                        var error = jQuery('<span class="text-danger"/>').text('File upload failed.');
                        jQuery(data.context.children()[index])
                                .append('<br>')
                                .append(error);
                    });
                })
                .prop('disabled', !jQuery.support.fileInput)
                        .parent().addClass(jQuery.support.fileInput ? undefined : 'disabled');
            });
        }());
    </script>

{% endblock shtumi_ajaxfile_widget %}

{% block shtumi_ajax_media_widget %}

    <style type="text/css">@import "{{ asset('bundles/shtumiuseful/css/jquery-file-upload/jquery.fileupload.css') }}";</style>

    <script type="text/javascript" src="{{ asset('bundles/shtumiuseful/js/jquery-file-upload/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/shtumiuseful/js/jquery-file-upload/jquery.fileupload-process.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/shtumiuseful/js/jquery-file-upload/jquery.fileupload-validate.js') }}"></script>

    <div class="shtumi-ajax-media-upload">
        {% if media is not empty and media.id is defined %}
            <div class="existing-media" style="margin-bottom: 10px;">
                <div class="media-preview">
                    {% if media.providerReference is defined and media.providerReference %}
                        {% if media.contentType is defined and 'image' in media.contentType %}
                            {% set preview_url = path('admin_app_sonatamediamedia_preview', {'id' : media.id} ) %}
                            <img src="{{ preview_url }}" class="img-responsive" style="max-height: 100px; margin-bottom: 5px;"/>
                        {% endif %}
                        <div>
                            <strong>{{ media.name|default('Plik') }}</strong>
                            <a href="{{ path('admin_app_sonatamediamedia_download', {'id' : media.id} ) }}" target="_blank" class="btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-download"></i> Pobierz
                            </a>
                            <button type="button" class="btn btn-xs btn-danger remove-media" data-media-id="{{ media.id }}">
                                <i class="glyphicon glyphicon-remove"></i> Usuń
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <div class="upload-section">
            <div>
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Wybierz plik do przesłania...</span>
                    {% set uploader_id = id ~ '_uploader' %}
                    <input id="{{ uploader_id }}" name="file" type="file"{% if multiple %} multiple{% endif %}>
                </span>
            </div>

            <div class="upload-info" style="display: none; margin-top: 10px;">
                <div class="file-name" style="margin-bottom: 5px; font-weight: bold;"></div>
                <div class="progress" style="margin-top: 10px;">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 0%; min-width: 2em; background-color: #6c757d;">
                        <span class="progress-text">0%</span>
                    </div>
                </div>
            </div>

            <div class="upload-status" style="margin-top: 10px;"></div>
        </div>

        <input {{ block('widget_attributes') }} type="hidden" value="{% if value is not empty %}{{ value }}{% endif %}">
    </div>

    <script>
        // Immediately wrap in IIFE to prevent any code from executing before dependencies are ready
        (function() {
            'use strict';
            
            // Wait for jQuery and fileupload plugin to be loaded
            function waitForDependencies(callback, maxAttempts) {
                maxAttempts = maxAttempts || 100; // Try for up to 10 seconds (100 * 100ms)
                var attempts = 0;
                
                function check() {
                    attempts++;
                    var $ = window.jQuery || window.$;
                    
                    // Check if jQuery is loaded and has fn property
                    if (!$ || typeof $ !== 'function' || typeof $.fn === 'undefined') {
                        if (attempts < maxAttempts) {
                            setTimeout(check, 100);
                            return;
                        }
                        console.error('jQuery is required for ajax media upload');
                        return;
                    }
                    
                    // Check if fileupload plugin is loaded
                    if (typeof $.fn.fileupload === 'undefined') {
                        if (attempts < maxAttempts) {
                            setTimeout(check, 100);
                            return;
                        }
                        console.error('jQuery File Upload plugin is not loaded. Make sure jquery.fileupload.js is loaded before this script.');
                        return;
                    }
                    
                    // Dependencies are ready, call the callback
                    callback();
                }
                
                // Start checking immediately
                check();
            }
            
            function initUploader() {
                try {
                    // Ensure jQuery is available (use $ or jQuery)
                    var $ = window.jQuery || window.$;
                    if (!$ || typeof $ !== 'function') {
                        console.error('jQuery is required for ajax media upload');
                        return;
                    }
                    
                    // Check if fileupload plugin is loaded
                    if (typeof $.fn === 'undefined' || typeof $.fn.fileupload === 'undefined') {
                        console.error('jQuery File Upload plugin is not loaded');
                        return;
                    }
                    
                    var $uploader = $('#{{ uploader_id }}');
                    if ($uploader.length === 0) {
                        console.error('Upload element not found: #{{ uploader_id }}');
                        return;
                    }
                    
                    // Check if already initialized to prevent double initialization
                    if ($uploader.data('fileupload-initialized')) {
                        return;
                    }
                    $uploader.data('fileupload-initialized', true);
                    
                    var $hiddenInput = $('#{{ id }}');
                    var $uploadSection = $uploader.closest('.upload-section');
                    var $uploadInfo = $uploadSection.find('.upload-info');
                    var $fileName = $uploadSection.find('.file-name');
                    var $progress = $uploadSection.find('.progress');
                    var $progressBar = $progress.find('.progress-bar');
                    var $progressText = $progressBar.find('.progress-text');
                    var $status = $uploadSection.find('.upload-status');
                    var $existingMedia = $uploader.closest('.shtumi-ajax-media-upload').find('.existing-media');
                var activeChunkState = null;
                    
                    // Find form and submit buttons
                    var $form = $uploader.closest('form');
                    var $submitButtons = $form.find('button[type="submit"], input[type="submit"]');
                    var isUploading = false;

                // Helper function to format file size
                function formatFileSize(bytes) {
                    if (bytes === 0) return '0 Bytes';
                    var k = 1024;
                    var sizes = ['Bytes', 'KB', 'MB', 'GB'];
                    var i = Math.floor(Math.log(bytes) / Math.log(k));
                    return Math.round(bytes / Math.pow(k, i) * 100) / 100 + ' ' + sizes[i];
                }

                // Configurable chunk size from AjaxMediaType option (chunk_size_mb).
                var CHUNK_SIZE = {{ chunk_size_mb|default(1) }} * 1024 * 1024;
                var MAX_FILE_SIZE = 2 * 1024 * 1024 * 1024; // 2 GB
                var MAX_CHUNK_RETRIES = 3;
                var CHUNK_RETRY_DELAY_MS = 1200;
                var uploadUrl = '{{ path('shtumi_ajaxfileupload') }}';

                function setProgress(progress) {
                    var normalized = Math.min(100, Math.max(0, progress));
                    $progressBar.css('width', normalized + '%').attr('aria-valuenow', normalized);
                    $progressText.text(Math.round(normalized) + '%');
                }

                function renderUploadedMedia(file) {
                    $hiddenInput.val(file.id);

                    var previewHtml = '<div class="media-preview" style="margin-bottom: 10px;">';
                    if (file.url && file.type && file.type.indexOf('image/') === 0) {
                        previewHtml += '<img src="' + file.url + '" class="img-responsive" style="max-height: 100px; margin-bottom: 5px;"/>';
                    }
                    previewHtml += '<div><strong>' + (file.name || 'Plik') + '</strong> ';
                    if (file.url) {
                        previewHtml += '<a href="' + file.url + '" target="_blank" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-download"></i> Pobierz</a> ';
                    }
                    previewHtml += '<button type="button" class="btn btn-xs btn-danger remove-media" data-media-id="' + file.id + '"><i class="glyphicon glyphicon-remove"></i> Usuń</button></div></div>';

                    if ($existingMedia.length) {
                        $existingMedia.html(previewHtml);
                    } else {
                        $existingMedia = $('<div class="existing-media" style="margin-bottom: 10px;">' + previewHtml + '</div>');
                        $uploader.closest('.shtumi-ajax-media-upload').prepend($existingMedia);
                    }
                }

                function finalizeManualChunkUpload(state) {
                    $status.html('<span class="text-info"><i class="glyphicon glyphicon-cog"></i> Finalizacja pliku na serwerze...</span>');
                    $.ajax({
                        url: uploadUrl,
                        type: 'POST',
                        timeout: 180000,
                        data: {
                            finalize: true,
                            uploadId: state.uploadId,
                            fileName: state.file.name,
                            fileSize: state.file.size,
                            fileType: state.file.type,
                            totalChunks: state.totalChunks,
                            context: '{{ context }}',
                            provider: '{{ provider }}'
                        },
                        success: function(response) {
                            if (response.files && response.files[0] && response.files[0].id) {
                                renderUploadedMedia(response.files[0]);
                                setProgress(100);
                                $status.html('<span class="text-success"><i class="glyphicon glyphicon-ok"></i> Plik został przesłany pomyślnie</span>');
                            } else {
                                $status.html('<span class="text-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Nieprawidłowa odpowiedź finalizacji</span>');
                            }
                            isUploading = false;
                            $submitButtons.prop('disabled', false).removeClass('disabled');
                            $uploadInfo.hide();
                            activeChunkState = null;
                        },
                        error: function(xhr, textStatus) {
                            isUploading = false;
                            $submitButtons.prop('disabled', false).removeClass('disabled');
                            $uploadInfo.hide();
                            var details = textStatus ? (' (' + textStatus + ')') : '';
                            $status.html('<span class="text-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Błąd podczas finalizacji pliku' + details + '</span>');
                            activeChunkState = null;
                        }
                    });
                }

                function uploadNextChunk(state) {
                    var chunkIndex = state.nextChunkIndex;
                    var start = chunkIndex * CHUNK_SIZE;
                    var end = Math.min(start + CHUNK_SIZE, state.file.size);
                    var chunk = state.file.slice(start, end);
                    var chunkSizeBytes = end - start;
                    var chunkNo = chunkIndex + 1;

                    $status.html('<span class="text-info"><i class="glyphicon glyphicon-upload"></i> Przesyłanie chunku ' + chunkNo + '/' + state.totalChunks + ' (' + formatFileSize(chunkSizeBytes) + ')</span>');

                    var formData = new FormData();
                    formData.append('file', chunk, state.file.name);
                    formData.append('chunk', '1');
                    formData.append('chunkIndex', String(chunkIndex));
                    formData.append('totalChunks', String(state.totalChunks));
                    formData.append('uploadId', state.uploadId);
                    formData.append('fileName', state.file.name);
                    formData.append('fileSize', String(state.file.size));
                    formData.append('fileType', state.file.type || 'application/octet-stream');
                    formData.append('context', '{{ context }}');
                    formData.append('provider', '{{ provider }}');

                    $.ajax({
                        url: uploadUrl,
                        type: 'POST',
                        timeout: 60000,
                        data: formData,
                        processData: false,
                        contentType: false,
                        xhr: function() {
                            var xhr = $.ajaxSettings.xhr();
                            if (xhr && xhr.upload) {
                                xhr.upload.addEventListener('progress', function(evt) {
                                    if (!evt.lengthComputable) {
                                        return;
                                    }
                                    var chunkProgress = evt.loaded / evt.total;
                                    var overallLoaded = start + (chunkProgress * chunkSizeBytes);
                                    var progress = Math.min(99, Math.max(0, (overallLoaded / state.file.size) * 100));
                                    setProgress(progress);
                                }, false);
                            }
                            return xhr;
                        },
                        success: function(response) {
                            if (!response || response.success !== true) {
                                isUploading = false;
                                $submitButtons.prop('disabled', false).removeClass('disabled');
                                $uploadInfo.hide();
                                $status.html('<span class="text-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Błąd przesyłania chunku</span>');
                                activeChunkState = null;
                                return;
                            }

                            state.chunkRetries[chunkIndex] = 0;
                            var confirmedUploaded = (typeof response.uploadedChunks === 'number') ? response.uploadedChunks : (chunkIndex + 1);
                            if (confirmedUploaded <= chunkIndex) {
                                confirmedUploaded = chunkIndex + 1;
                            }
                            if (confirmedUploaded > state.totalChunks) {
                                confirmedUploaded = state.totalChunks;
                            }
                            state.nextChunkIndex = confirmedUploaded;

                            setProgress(Math.min(99, (state.nextChunkIndex / state.totalChunks) * 100));

                            if (state.nextChunkIndex < state.totalChunks) {
                                uploadNextChunk(state);
                                return;
                            }
                            setProgress(100);
                            finalizeManualChunkUpload(state);
                        },
                        error: function() {
                            var retries = state.chunkRetries[chunkIndex] || 0;
                            retries++;
                            state.chunkRetries[chunkIndex] = retries;
                            if (retries <= MAX_CHUNK_RETRIES) {
                                $status.html('<span class="text-warning"><i class="glyphicon glyphicon-repeat"></i> Ponawianie chunku ' + (chunkIndex + 1) + '/' + state.totalChunks + ' (próba ' + retries + '/' + MAX_CHUNK_RETRIES + ')...</span>');
                                setTimeout(function() {
                                    uploadNextChunk(state);
                                }, CHUNK_RETRY_DELAY_MS);
                                return;
                            }

                            isUploading = false;
                            $submitButtons.prop('disabled', false).removeClass('disabled');
                            $uploadInfo.hide();
                            $status.html('<span class="text-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Przesyłanie pliku nie powiodło się</span>');
                            activeChunkState = null;
                        }
                    });
                }
                
                $uploader.fileupload({
                    url: '{{ path('shtumi_ajaxfileupload') }}',
                    dataType: 'json',
                    autoUpload: true,
                    maxFileSize: MAX_FILE_SIZE,
                    formData: {
                        context: '{{ context }}',
                        provider: '{{ provider }}'
                    },
                    sequentialUploads: true,
                    limitConcurrentUploads: 1,
                    progressInterval: 50, // Update progress every 50ms for smoother updates
                    forceIframeTransport: false, // Force XHR for real progress support
                    singleFileUploads: true, // Upload one file at a time for better progress tracking
                    xhrFields: {
                        // Ensure we can track progress
                        withCredentials: false
                    }
                })
                .on('fileuploadadd', function (e, data) {
                $status.html('');
                
                // Store original files for chunked uploads
                if (data.files && data.files[0]) {
                    var file = data.files[0];
                    data.originalFiles = [file];
                    
                    // Show file name and progress bar immediately
                    $fileName.text(file.name + ' (' + formatFileSize(file.size) + ')');
                    $uploadInfo.show();
                    $progressBar.css('width', '0%').attr('aria-valuenow', 0);
                    $progressText.text('0%');
                    
                    // Disable form submission
                    isUploading = true;
                    $submitButtons.prop('disabled', true).addClass('disabled');
                    $status.html('<span class="text-info"><i class="glyphicon glyphicon-upload"></i> Przesyłanie pliku...</span>');
                    
                    // Check if file needs chunking
                    if (file.size > CHUNK_SIZE) {
                        // File is large, handle chunking via explicit AJAX loop (no plugin resubmit state issues).
                        activeChunkState = {
                            file: file,
                            uploadId: 'upload_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9),
                            totalChunks: Math.ceil(file.size / CHUNK_SIZE),
                            nextChunkIndex: 0,
                            chunkRetries: {}
                        };
                        uploadNextChunk(activeChunkState);
                        return false;
                    } else {
                        data.chunked = false;
                        activeChunkState = null;
                    }
                }
                })
                .on('fileuploadstart', function (e, data) {
                    // Keep cumulative progress for chunked uploads (no reset on each chunk request).
                    if (!activeChunkState || activeChunkState.nextChunkIndex === 0) {
                        $progressBar.css('width', '0%').attr('aria-valuenow', 0);
                        $progressText.text('0%');
                    }
                })
                .on('fileuploadsubmit', function (e, data) {})
                .on('fileuploaddone', function (e, data) {
                    // Original non-chunked handling
                    // Show 100% on completion
                    $progressBar.css('width', '100%').attr('aria-valuenow', 100);
                    $progressText.text('100%');
                    
                    $.each(data.result.files, function (index, file) {
                        if (file.id && !file.error) {
                            // Success - update hidden input with media ID
                            $hiddenInput.val(file.id);
                            
                            // Update or create preview
                            var previewHtml = '<div class="media-preview" style="margin-bottom: 10px;">';
                            if (file.url) {
                                if (file.type && file.type.indexOf('image/') === 0) {
                                    previewHtml += '<img src="' + file.url + '" class="img-responsive" style="max-height: 100px; margin-bottom: 5px;"/>';
                                }
                            }
                            previewHtml += '<div><strong>' + (file.name || 'Plik') + '</strong> ';
                            if (file.url) {
                                previewHtml += '<a href="' + file.url + '" target="_blank" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-download"></i> Pobierz</a> ';
                            }
                            previewHtml += '<button type="button" class="btn btn-xs btn-danger remove-media" data-media-id="' + file.id + '"><i class="glyphicon glyphicon-remove"></i> Usuń</button></div></div>';
                            
                            if ($existingMedia.length) {
                                $existingMedia.html(previewHtml);
                            } else {
                                $existingMedia = $('<div class="existing-media" style="margin-bottom: 10px;">' + previewHtml + '</div>');
                                $uploader.closest('.shtumi-ajax-media-upload').prepend($existingMedia);
                            }
                            
                            $status.html('<span class="text-success"><i class="glyphicon glyphicon-ok"></i> Plik został przesłany pomyślnie</span>');
                        } else if (file.error) {
                            $status.html('<span class="text-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> ' + file.error + '</span>');
                        }
                    });
                    
                    // Re-enable form submission
                    isUploading = false;
                    $submitButtons.prop('disabled', false).removeClass('disabled');
                    
                    // Hide progress after a short delay
                    setTimeout(function() {
                        $uploadInfo.hide();
                    }, 500);
                })
                .on('fileuploadsend', function (e, data) {
                    // Reset progress when standard (non-chunked) upload starts.
                    $progressBar.css('width', '0%').attr('aria-valuenow', 0);
                    $progressText.text('0%');
                })
                .on('fileuploadprogress', function (e, data) {
                    // Update progress bar with real upload progress for individual file
                    // This event fires more reliably than fileuploadprogressall
                    if (data.loaded !== undefined && data.total !== undefined && data.total > 0) {
                        var progress = Math.min(99, Math.max(0, (data.loaded / data.total) * 100));
                        setProgress(progress);
                    }
                })
                .on('fileuploadprogressall', function (e, data) {
                    // Update progress bar with real upload progress for all files
                    // Fallback to this if fileuploadprogress doesn't fire
                    if (data.loaded !== undefined && data.total !== undefined && data.total > 0) {
                        var progress = Math.min(99, Math.max(0, (data.loaded / data.total) * 100));
                        setProgress(progress);
                    }
                })
                .on('fileuploadfail', function (e, data) {
                    $uploadInfo.hide();
                    $status.html('<span class="text-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Przesyłanie pliku nie powiodło się</span>');
                    // Re-enable form submission on error
                    isUploading = false;
                    $submitButtons.prop('disabled', false).removeClass('disabled');
                    activeChunkState = null;
                });
                
                // Prevent form submission while uploading
                $form.on('submit', function(e) {
                if (isUploading) {
                    e.preventDefault();
                    e.stopPropagation();
                    $status.html('<span class="text-warning"><i class="glyphicon glyphicon-exclamation-sign"></i> Proszę poczekać na zakończenie przesyłania pliku</span>');
                    return false;
                }
                });

                // Handle remove button (scope to this widget so multiple widgets work correctly)
                var $container = $uploader.closest('.shtumi-ajax-media-upload');
                $container.on('click', '.remove-media', function() {
                    if (confirm('Czy na pewno chcesz usunąć ten plik?')) {
                        $hiddenInput.val('');
                        $existingMedia.remove();
                        $status.html('<span class="text-info">Plik został usunięty</span>');
                    }
                });
                } catch (error) {
                    console.error('Error initializing ajax media upload:', error);
                }
            }
            
            // Wait for dependencies before initializing
            waitForDependencies(function() {
                // Check if DOM is ready
                if (document.readyState === 'loading') {
                    document.addEventListener('DOMContentLoaded', function() {
                        // Small delay to ensure DOM is fully ready
                        setTimeout(initUploader, 100);
                    });
                } else {
                    // DOM already loaded, initialize immediately
                    setTimeout(initUploader, 100);
                }
            });
        })();
    </script>

{% endblock shtumi_ajax_media_widget %}
